@model IDS325___Indice_academico.Models.Persona

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Persona</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Matricula" />
            <div class="form-group">
                <label asp-for="CodigoArea" class="control-label">Área Académica</label>
                <select asp-for="CodigoArea" class="form-select" asp-items="ViewBag.AreaList">
                    <option value="">Seleccione el Área Académica</option>
                </select>
                <span asp-validation-for="CodigoArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Carrera" class="control-label">Carrera</label>
                <select asp-for="Carrera" class="form-select" asp-items="ViewBag.CarreraList">
                    <option value="">Seleccione la Carrera</option>
                </select>
                <span asp-validation-for="CodigoArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
