@model IDS325___Indice_academico.Models.Calificacion

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Calificacion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Matricula" />
            <input type="hidden" asp-for="CodigoAsignatura" />
            <div class="form-group">
                <label asp-for="Nota" class="control-label"></label>
                <input asp-for="Nota" class="form-control" />
                <span asp-validation-for="Nota" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Trimestre" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary mb-2 mt-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

