@model IEnumerable<IDS325___Indice_academico.Models.Calificacion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Matricula Estudiante
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nota)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nota)
            </td>
            <td>
                @Html.ActionLink(linkText: "Edit",
                                actionName: "Edit",
                                controllerName: "Pub",
                                routeValues: new {
                                    CodigoAsignatura = item.CodigoAsignatura, 
                                    Matricula = item.Matricula,
                                    Trimestre = item.Trimestre
                                },
                                htmlAttributes: null)
            </td>
        </tr>
}
    </tbody>
</table>
