@model IDS325___Indice_academico.Models.Persona

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Persona</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Contraseña" class="control-label"></label>
                <input asp-for="Contraseña" class="form-control" />
                <span asp-validation-for="Contraseña" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdRol" class="control-label"></label>
                <input asp-for="IdRol" class="form-control" />
                <span asp-validation-for="IdRol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoArea" class="control-label">Área Académica</label>
                <select asp-for="CodigoArea" class="form-select" asp-items="ViewBag.AreaList">
                    <option value="">Seleccione el Área Académica</option>
                </select>
                <span asp-validation-for="CodigoArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Carrera" class="control-label">Carrera</label>
                <select asp-for="Carrera" class="form-select" asp-items="ViewBag.CarreraList">
                    <option value="">Seleccione la Carrera</option>
                </select>
                <span asp-validation-for="CodigoArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorreoElectronico" class="control-label"></label>
                <input asp-for="CorreoElectronico" class="form-control" />
                <span asp-validation-for="CorreoElectronico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Indice" class="control-label"></label>
                <input asp-for="Indice" class="form-control" />
                <span asp-validation-for="Indice" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="VigenciaPersona" /> @Html.DisplayNameFor(model => model.VigenciaPersona)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

