@using System.Data;
@model DataSet
@using IDS325___Indice_academico.Controllers
@{
    Layout = "_Layout";
}

<table class="table">
    <thead>
        <tr>
            <th>Codigo de la asignatura</th>
            <th>Nombre de la asignatura</th>
            <th>Credito</th>
            <th>Nota</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow row in Model.Tables[0].Rows)
        {
            <tr>
                <td>@row["CodigoAsignatura"]</td>
                <td>@row["NombreAsignatura"]</td>
                <td>@row["Credito"]</td>
                <td>@row["Nota"]</td>
            </tr>
        }
    </tbody>
</table>