@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IDS325___Indice_academico</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Bienvenida.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/IDS325___Indice_academico.styles.css" asp-append-version="true" />
</head>
<body class="d-flex justify-content-center min-vh-100">
    <main role="main" class="container d-flex flex-column justify-content-center">
        <div class="col left-bg"></div>
        <div class="col right-bg"></div>
        <div class="container container-home-page">
            <div class="row info-cont">
                <div class="col-6 left-cont">
                    <p class="title-college">Instituto Tecnológico de Santo Domingo</p>
                    <img />
                    <h1 class="title-welcome">Bienvenido a la plataforma en línea</h1>
                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    <img class="img img-landingPage" />
                </div>
                <div class="col-6 right-cont d-flex flex-column justify-content-center">
                    <h3>Entra y comienza a utilizar tu herramienta de INTEC</h3>
                    <div class="d-flex justify-content-end">
                        <a class="btn btn-lg btn-iniciar-sesion" asp-area="" asp-controller="Home" asp-action="Login">Iniciar Sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

@*    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - IDS325___Indice_academico - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
</body>
</html>



