
*{
    margin:0;
    padding:0;
}

html {
  font-size: 16px;
  min-width: 375px;
}




@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
  header{
      height: 10vh;
  }
  body{
    margin:0;
    display:flex;
    min-height: 100vh;
    flex-direction: column;
  }

  footer {
        background-color: red;
        color: white;
        height: 10vh;
        margin-top: auto;
   }

    /*Pagina de bienvenida*/
  
    /*---------------------*/

}

